.Users {
  padding: 4px;
}

.userPhoto {
  width: 100px;
  height: 100px;
}

.follow {
  display: flex;
  align-items: center;
}

.follow button {
  outline: none;
}
.follow img {
  display: inline;
  height: 28px;
}
