.Header {
  grid-area: head;
  background-color: green;
}

.Header-logo {
  width: 60px;
  margin: 0 10px;
}

.loginBlock {
  float: right;
}

.loginBlock a {
  color: white;
  text-decoration: none;
}
