.Dialogs {
  display: grid;
  grid-template-columns: 4fr 10fr;
  grid-template-areas: "cntcts msgs";
}


.contacts{
  grid-area: cntcts;
}

.activeName {
  color: gold;
}
.messageWrapper {
  grid-area: msgs;
}
