.Dialogs {
  display: grid;
  grid-template-columns: 4fr 10fr;
  grid-template-areas: "cntcts msgs";
}


.contacts{
  grid-area: cntcts;
  padding: 10px;
}

.name a.activeName {
  color: gold;
}
.name a {
  text-decoration: none;
  color: white;
}

.messageWrapper {
  grid-area: msgs;
  padding: 10px;
}
