.App-wrapper {
  width: 1200px;
  margin: 0 auto;

  display: grid;

  grid-template-areas:
  "head head"
  "nav cont";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
}

.App-header {
  grid-area: head;
}

.App-logo {
  width: 60px;
}

.App-navigation {
  grid-area: nav;
}

.App-content {
  grid-area: cont;
}
